@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    KhNATOB - СХІD OPERA<br />
    Сумська вул., 25, Харків, 61000<br />
    <abbr title="Phone - Chief Administrator">P:</abbr>
    700 40 42
</address>

<address>
    <strong>Режим работи театральной кассы:</strong><br />
    c 10-30 до 19-00<br />
    перерыв с 15-00 до 16-00<br />
    телефоны кассы 707-70- 43,  707-70-91<br />
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>